/*Fun Activities for Toddlers*/
*{
  font-size: 100%;
}
body {
  background-color: #cddad8;
  color: #6a336e;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  color: #da307b;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: #0e9e05;
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: normal;
}

p {
  line-height: 2;
}

.btn {
  border: 2px #da307b;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {background: #eee;}

.artsandcrafts {color: purple;}
.sensoryplay {color: dodgerblue;}
.science {color: orange;}
.recipes {color: red;}
