/*Fun Activities for Toddlers*/
*{
  font-size: 100%;
}
body {
  background-color: #cddad8;
  color: #6a336e;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  color: #da307b;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: #0e9e05;
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: normal;
}

p {
  line-height: 2;
}

.btn-group button {
  background-color: #da307b; /* Pink background */
  border: 1px solid White; /* White border */
  border-radius: 8px;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
