/*Fun Activities for Toddlers*/
body {
  background-color: #cddad8;
  color: #6a336e;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* Style the header */
.header {
  background-color: mediumturqoise;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #3b4444;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

ul, ol {
  margin: 15px 0;
}

h1 {
  color: #da307b; /*pink*/
  font-size: 36px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

h3 {
  color: #0e9e05; /*green*/
  font-size: 18px;
  Text-align: center;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 20px;

}

.title {
  font-size: 60px;
  /* text-decoration: underline; */
  text-align: center;
}
